html,
body {
  width: auto;
  height: auto;
}

body {
  margin: 0;
  background-image: url('../src/images/background/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-layout {
  width: 100%;
  border-radius: 4px;

}

.content-wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.info-container {
  max-width: 22%;
  transform: matrix(1, 0, 0, 1, 0, 0);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  background-image: url("../src/images/img/bg-ball-transparent.png");
}

.info-container:hover {
  box-shadow: 0 0 10px var(--light-blue);
}

.info-container:hover img {
  margin-top: -40px;
  margin-bottom: 40px;
  transition: 0.1s ease-in-out;
}

.pill {
  width: 80px;
  text-align: center;
  border-radius: 4px;
  padding: 4px;
  background-color: var(--white-transparent);
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  letter-spacing: 2px;
}

button {
  background-color: var(--light-blue);
  border: none;
  color: #000;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--white-transparent);
  color: var(--light-blue);
}

.content-container {
  background-image: url("../src/images/img/bg-ball-color-transparent.png");
  background-color: var(--white);
  background-repeat: no-repeat;
  width: fit-content;
  background-size: 90%;
  background-position: center;
  border-radius: 8px;
  border: 3px solid var(--light-blue);
}

.quick-datails-header {
  background-color: var(--gray);
  padding: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  color: var(--light-blue);
}

.quick-datails-container {
  background-color: var(--light-blue-transparent);
  flex: 2;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.mainField {
  background-color: var(--white);
  padding: 8px 4px;
}