:root {
    --white: #fff;
    --white-transparent: #ffffff7f;
    --gray: #5b5b5b;
    --light-blue: #add6ff;
    --light-blue-transparent: #add6ffad;
    --red: #b40000;
}

.bgc-gray {
    background-color: var(--gray);
}