.gap-8 {
  gap: 8px;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.d-none {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-direction-column {
  flex-direction: column;
}

.m-0 {
  margin: 0;
}

.br-8 {
  border-radius: 8px;
}

.br-16 {
  border-radius: 16px;
}

.br-round {
  border-radius: 100%;
}

.br-s2-gray {
  border: solid 2px var(--gray);
}

.br-s2-light-blue {
  border: solid 2px var(--light-blue);
}

.mt-8 {
  margin-top: 8px;
}

.mt-80 {
  margin-top: 80px;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-33 {
  width: 33.33333333333333%;
}

.h-100vh {
  height: 100vh;
}

.h-124px {
  height: 128px;
}

.ph-4 {
  padding: 0 4px;
}

.pv-8 {
  padding: 8px 0;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.first-letter-uppercase::first-letter {
  text-transform: uppercase;
}

.overflow-y-scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.border-top-16px{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.border-bottom-16px{
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}