.loader {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 24px solid var(--white);
    border-top: 24px solid var(--red);
    border-right: 24px solid var(--red);
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }