.background-color-normal {
  background-color: #b6b6a8;
}

.background-color-fire {
  background-color: #ff6043;
}

.background-color-water {
  background-color: #52a9ff;
}

.background-color-electric {
  background-color: #ffcc33;
}

.background-color-grass {
  background-color: #77cc55;
}

.background-color-ice {
  background-color: #a7eff9;
}

.background-color-fighting {
  background-color: #964436;
}

.background-color-poison {
  background-color: #88447a;
}

.background-color-ground {
  background-color: #ddbb55;
}

.background-color-flying {
  background-color: #8899ff;
}

.background-color-psychic {
  background-color: #ff5599;
}

.background-color-bug {
  background-color: #aabb22;
}

.background-color-rock {
  background-color: #bbaa66;
}

.background-color-ghost {
  background-color: #6666bb;
}

.background-color-dragon {
  background-color: #7766ee;
}

.background-color-dark {
  background-color: #775544;
}

.background-color-steel {
  background-color: #aaaabb;
}

.background-color-fairy {
  background-color: #ee99ee;
}
